* {
  /* padding di tarik dari garis terluar ke dalam */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgb(131, 164, 170);
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right li {
  display: inline-block;
  margin-right: 3rem;
  margin-top: 20px;
  color: #fff;
}

.header-right a {
  text-decoration: none;
  color: beige;
}

a:hover {
  color: coral;
}

.text-center {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("laut.jpg");
  background-size: cover;
}

.text-center h1,
.text-center p {
  color: #fff;
}

.text-center h1 {
  font-family: "Playfair-Display", serif;
  font-weight: bold;
  font-size: 50px;
}

.text-center p {
  font-size: 22px;
}

.text-center .btn-get-started {
  background-color: #ff9e53;
  color: #fff;
}

.text-center .btn-get-started:hover {
  background-color: #ffaa69;
  color: #fff;
}

.content {
  padding: 20px;
  float: left;
  width: 50%;
}

.content h1 {
  text-align: center;
}

.content p {
  text-align: justify;
}
.clear {
  clear: left;
}

.heading h2 {
  font-weight: normal;
  padding-bottom: 20px;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 70px;
  background-color: #b0c4de;
  cursor: pointer;
  box-shadow: 0 7px #778899;
  border-radius: 5px;
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

footer {
  padding: 20px 20px 10px 20px;
}
footer img {
  width: 200px;
}

footer p {
  color: #b3aeb5;
  font-size: 18px;
  padding: 0px;
}
.foot-left {
  float: left;
}

@media (max-width: 670px) {
  .content {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  .foot-left {
    width: 100%;
    padding: 0;
  }
  .text-center {
    text-align: left;
    padding-top: 130px;
  }
  .text-center h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .text-center {
    font-size: 14px;
    line-height: 20px;
  }

  .btn {
    width: 100%;
  }
}
